@import "./src/fonts.css";

:root {
  --header-height: 4rem;

  --mainColor: #f9f9f9;
  --firstColor: #8ab889;
  --secondColor: #f7f6f2;
  --thirdColor: #ffffff;

  --mainFont: RobaLow-Regular;

  --btn-padding: 0.9rem 2.5rem 0.5rem 2.5rem;

  --transition: 0.25s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  max-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body {
  font-family: var(--mainFont);
  font-size: 18px;
  background: var(--mainColor);
  max-width: 768px;
}
body.scroll-off {
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
h1 {
  font-size: 2em;
}
h3 {
  font-weight: 600;
}
button {
  background: none;
  border: none;
  outline: none;
}

.section__information,
.section__help {
  background-color: var(--thirdColor);
  padding-top: 1px;
  height: 100vh;
}

.wrapper {
  max-width: 460px;
  padding: 0 1rem;
  padding-bottom: 1px;
  margin-bottom: 22px;
}
.bufer__top {
  position: fixed;
  background: var(--mainColor);
}
.bufer__top {
  height: calc(var(--header-height) + 0.5rem);
}
.lang {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 768px;
  margin: 0 auto;
  font-size: 3rem;
  font-family: RobaLow-extraLight;
  font-weight: 300;
  text-transform: uppercase;
}
.lang__item {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 45%;
  padding: var(--btn-padding);
  border-radius: 3rem;
  box-shadow: var(--second-shadow);
}

.blur {
  filter: blur(5px);
}

/* header========================================================================================== */
.header__inner,
.burger,
.logo,
.logo__img {
  display: flex;
}
.header__inner,
.burger {
  justify-content: space-between;
}

.header__inner,
.logo__img {
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--thirdColor);
  z-index: 10;
  max-width: 768px;
}

.header__inner {
  position: relative;
  height: var(--header-height);
  background: var(--main-color);
  box-shadow: 0px 2px 8px rgba(175, 175, 175, 0.1);

  margin: 0 auto;
  padding: 0 1rem;
}

.burger {
  position: absolute;
  right: 6%;
  flex-direction: column;
  height: 100%;
  max-height: 1rem;
  transition: var(--transition);
}
.burger.show {
  transform: rotate(-90deg);
}
.burger > span {
  width: 22px;
  height: 3px;
  background-color: var(--firstColor);
  position: relative;
}

.burger > span::before {
  content: ".";
  position: absolute;
  font-size: 30px;
  top: -21.5px;
  left: -8px;
  color: var(--firstColor);
}

.logo {
  justify-content: center;
  width: 100%;
}
.logo__text {
  margin: 6px 0 0 29px;
  font-size: 1.4rem;
  color: var(--firstColor);
  font-weight: 600;
  position: relative;
}

.logo__text::before {
  position: absolute;
  content: url(../images/svg/Vector.svg);
  left: -35px;
  top: -2px;
}

/* burger========================================================================================== */
.burger-menu {
  position: fixed;
  top: var(--header-height);
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  height: 100%;
  overflow: hidden;
  background: var(--thirdColor);
  transition: var(--transition);
  z-index: -20;
  opacity: 0;
  pointer-events: none;
}
.burger-menu.show {
  top: 0;
  opacity: 1;
  pointer-events: all;
  max-width: 768px;
}
.burger-menu__inner {
  margin: 10rem 0 0;
  flex-direction: column;
  justify-content: space-around;
}
.burger-menu__item {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid var(--firstColor);
  border-radius: 10rem;
  background-color: var(--firstColor);
  color: var(--thirdColor);
  width: 220px;
  height: 40px;
  margin-bottom: 40px;
}

.burger-menu__item:last-child {
  margin-bottom: 16px;
}

.burger-menu__item.info {
  margin-top: 40px;
}
.burger-menu__item > a {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
}

/* popup========================================================================================== */

.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: -150%;
  width: 100%;
  border: 2px solid grey;
  max-width: 768px;
  background-color: #ededed;
  opacity: 0.97;
  z-index: 10;
  transition: var(--transition);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 83%;
}

.popup__wrapper.open {
  background-color: grey;
  filter: blur(5px);
  width: 100%;
  max-width: 768px;
  z-index: 10;
  height: 200px;
  position: fixed;
  transition: var(--transition);
}

.popup.open {
  bottom: 0;
}

.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3.5%;
  right: 6%;
}

.popup__close::before {
  content: url(../images/svg/close.svg);
}
.popup__inner {
  margin: 0 0 1rem;
  padding-top: 35px;
}
.popup__buffer {
  display: none;
  position: fixed;
  top: var(--header-height);
  width: 100vw;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.popup__buffer.open {
  display: unset;
}

.popup__product {
  position: relative;
}
.popup__item-text {
  margin: 1.2rem 0 0;
  position: relative;
}
.popup__item-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -15px;
  background-color: #a9a6a6;
}
.popup__item-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.popup__item-description {
  margin: 0.5rem 0 0;
  color: #787575;
  font-size: 15px;
}

.popup__item-name {
  text-align: center;
  margin-top: 30px;
}

.popup__item-img {
  display: flex;
  justify-content: space-around;
}
.popup__item-img > img {
  position: absolute;
  top: -20px;
  object-fit: cover;
  height: 110px;
  width: 110px;
  margin: -5rem 0 0;
  border-radius: 1rem;
  z-index: 1;
}
.popup__options {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0 0;
}
.popup__sauces,
.popup__ingredients {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.popup__option {
  color: #787575;
  font-size: 15px;
}
.popup__sauce,
.popup__ingredient {
  display: flex;
  flex-direction: row;
  width: 110px;
  height: 26px;
  margin-right: 8px;
}
.popup__add {
  margin: 2rem 0;
  position: relative;
}

.popup__add-ingredients {
  margin-bottom: 15px;
}

.popup__add-ingredient::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -17px;
  background-color: #a9a6a6;
}

.popup__add > h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.popup__item-price {
  font-size: 24px;
  line-height: 28px;
  font-family: RobaLow-Black;
  text-align: center;
}

/* slider========================================================================================== */
.slider {
  transition: var(--transition);
}
.slider__inner {
  display: flex;
  padding: 9.5rem 0 2rem 0;
  width: 100%;
  overflow-x: scroll;
  position: relative;
}

.bottom__menu::after,
.slider__inner::after {
  content: "";
  position: absolute;
  bottom: 15px;
  width: 90%;
  height: 1px;
  background: #ededed;
  display: block;
  transform: translateX(5%);
}

.bottom__menu::after {
  position: static;
  bottom: -18px;
  margin-top: 9px;
}

.slider__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-width: 240px;
  width: 240px;
  height: 162px;
  margin: 0 0.5rem;
  border-radius: 20px;
  box-shadow: var(--main-shadow);
  overflow: hidden;
  text-align: center;
  background: var(--main-color);
}
.slider__item-bufer {
  min-width: 0.5rem;
}
.slider__item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  z-index: 1;
  border-radius: 20px;
  filter: blur(2px);
}
.slider__item-img:not([src=""]) + .slider__item-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.52%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border-radius: 20px;
}
.slider__title {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  height: 28px;
  backdrop-filter: blur(15px);
  z-index: 1;
}

.slider__description {
  text-align: left;
  padding-left: 14px;
  font-size: 15px;
  line-height: 28px;
}

.slider__information {
  position: absolute;
  width: 44px;
  height: 32px;
  background-color: #ffb240;
  bottom: 0;
  right: 0;
  border-radius: 8px 0px;
}

.slider__information::before {
  content: url(../images/svg/info.svg);
  line-height: 43px;
}

/* products======================================================================================== */
.products {
  transition: var(--transition);
  scroll-margin: 12rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}

.products__title-active {
  background: var(--firstColor);
}

.product__item {
  display: flex;
  height: 115px;
  margin: 0 0 1.5rem 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--secondColor);
}

.product__item:last-child {
  margin: 0;
}
.product__item-text {
  pointer-events: none;
  padding: 0.75rem 0.8rem 0.5rem 0.75rem;
}
.product__item-title {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}
.product__item-price {
  margin: 0 0 0 0.5rem;
  position: relative;
}
.product__item-price::before {
  position: absolute;
  top: 10px;
  left: -50px;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #c4c4c4;
}
.product__item-description {
  margin: 0.5rem 0 0;
  font-size: 0.8em;
  color: #8e8e8e;
}
.product__item-img {
  pointer-events: none;
  height: 100%;
}
.product__item-img > img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

/* tap-bar========================================================================================= */

.bottom__menu {
  position: fixed;
  padding-top: 4.8rem;
  width: 100%;
  max-width: 768px;
  z-index: 5;
  background-color: var(--mainColor);
}

.bottom__menu-inner {
  overflow-y: scroll;
  display: flex;
  padding: 0.5rem 0;
}
.bottom__menu-inner::after {
  content: "";
  width: 1px;
  height: 1px;
  padding: 0 0.5rem 0 0;
}
.bottom__menu-item {
  display: flex;
  align-items: center;
  height: 32px;
  width: 10.8rem;
  margin: 0 0.8rem 0 0;
  font-size: 17px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 50px;
  background: var(--mainColor);
  letter-spacing: 1px;
}
.bottom__menu-item.active {
  background-color: var(--firstColor);
  color: var(--thirdColor);
}
.bottom__menu-item:first-child {
  margin: 0 0.8rem 0 0.5rem;
}
.bottom__menu-link {
  pointer-events: none;
  padding: 0 1.2em;
  display: block;
  margin: 0 auto;
}

/* info========================================================================================= */
.info__title {
  margin: 9rem 0 0;
  font-size: 24px;
  font-family: RobaLow-Black;
}
.info__text {
  margin: 1rem 0 0;
}

.info__text > h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.info__text > p {
  font-size: 15px;
}

/* medias========================================================================================= */
@media (max-width: 350px) {
  html {
    font-size: 10px;
  }
  body {
    font-size: 16px;
  }
  .popup__product {
    padding: 0 1rem;
  }
  .bufer__top {
    height: 4.3rem;
    background-color: var(--thirdColor);
    z-index: 1;
  }
  .logo__text::before {
    top: -8px;
  }
  .burger > span {
    height: 2px;
  }

  .burger > span::before {
    display: none;
  }

  .burger-menu__inner {
    margin: 12.8rem 0 0;
  }

  .popup__item-img > img {
    width: 80px;
    height: 80px;
  }

  .popup__item-text::after {
    bottom: -5px;
  }

  .popup__add {
    margin: 1.5rem 0;
  }

  .popup__item-title,
  .popup__add > h3 {
    font-size: 15px;
  }

  .popup__item-description,
  .popup__option {
    font-size: 13px;
  }

  .popup__add-ingredient::after {
    bottom: -8px;
  }
  .popup__sauce,
  .popup__ingredient {
    margin-bottom: 0;
  }

  .info__text > h3 {
    font-size: 14px;
  }

  .info__text > p {
    font-size: 12px;
  }
}

@media (min-width: 414px) {
  .popup__item-text {
    margin: 3rem 0 0;
  }

  .popup__item-title,
  .popup__add > h3 {
    font-size: 20px;
  }

  .popup__item-description,
  .popup__option {
    font-size: 17px;
  }

  .popup__options,
  .popup__item-price {
    margin-bottom: 30px;
  }

  .burger-menu__item.info {
    margin-top: 40px;
  }
}

@media (min-height: 667px) and (max-height: 735px) {
  .info__title {
    margin: 7rem 0 0;
  }

  .burger-menu__item.info {
    margin-top: 20px;
  }

  .burger-menu__inner {
    margin: 10rem 0 0;
  }
}

@media (min-height: 736px) {
  .burger-menu__inner {
    margin: 11rem 0 0;
  }
  .burger-menu__item {
    margin-bottom: 60px;
  }

  .popup__item-price {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

@media (min-height: 800px) {
  .wrapper {
    margin-bottom: 40px;
  }

  .popup__item-text {
    margin: 3.2rem 0 0;
  }

  .popup__item-description {
    line-height: 24px;
  }

  .popup__item-name {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .popup {
    font-size: 25px;
  }

  .popup__item-text {
    margin: 3rem 0 0;
  }

  .popup__add {
    margin: 3rem 0 0;
  }

  .popup__item-title,
  .popup__add > h3 {
    font-size: 30px;
  }

  .popup__item-description,
  .popup__option {
    font-size: 20px;
  }

  .wrapper {
    max-width: 500px;
    margin: 0 auto;
  }

  .popup__sauce,
  .popup__ingredient {
    width: 200px;
    height: 40px;
  }

  .burger-menu__item {
    margin-bottom: 100px;
    width: 450px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
  }

  .burger-menu__item:last-child {
    margin-bottom: 80px;
  }

  .info__title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .info__text > h3 {
    font-size: 30px;
  }

  .info__text > p {
    font-size: 20px;
  }

  .info__text > p:last-child {
    margin-bottom: 40px;
  }
}

@media (min-width: 769px) {
  html {
    border: 10px solid black;
    border-top: 50px solid;
    border-bottom: 150px;
  }

  .header,
  .bottom__menu,
  .wrapper,
  .popup,
  .open {
    width: 749px;
  }
  .popup__wrapper.open {
    width: 754px;
    max-width: 754px;
    top: 0;
  }
  .burger > span::before {
    display: none;
  }

  .burger-menu__item:last-child {
    margin-bottom: 50px;
  }

  .info__title {
    margin-top: 4rem;
  }
}
