@import "./src/fonts.css";

:root {
  --header-height: 4rem;

  --mainColor: #f9f9f9;
  --firstColor: #8ab889;
  --secondColor: #f7f6f2;
  --thirdColor: #ffffff;
  --popupColor: #ededed;
  --fontColor: #787575;
  --lineColor: #a9a6a6;

  --mainFont: RobaLow-Regular;
  --secondFont: RobaLow-Black;

  --fontSize: 1.1rem;
  --mainSize: 0.9rem;
  --secondSize: 0.8rem;

  --btn-padding: 0.9rem 2.5rem 0.5rem 2.5rem;
  --dropMargin: 0 auto;
  --fullHeight: 100%;
  --fullWidth: 100%;

  --transition: 0.25s linear;

  --null-transition: none !important;

  --pop-up-width: 472px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: var(--dropMargin);
  width: var(--fullWidth);
}

body {
  font-family: var(--mainFont);
  background: var(--mainColor);
}

body.scroll-off {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: 2em;
}

h3 {
  font-weight: 600;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.section__information,
.section__help {
  background-color: var(--thirdColor);
  padding: 1px 0 0 0;
  height: 100vh;
}

.wrapper {
  padding: 0 1rem 1px 1rem;
  height: var(--fullHeight);
}

.bufer__top {
  position: fixed;
  background: var(--mainColor);
}

.bufer__top {
  height: calc(var(--header-height) + 0.5rem);
}

.lang {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: var(--dropMargin);
  padding: 0 0 1rem 0;
  font-size: 3rem;
  font-family: RobaLow-extraLight;
  font-weight: 300;
  text-transform: uppercase;
}

.lang__item {
  display: flex;
  justify-content: center;
  width: var(--fullWidth);
  max-width: 45%;
  padding: var(--btn-padding);
  border-radius: 3rem;
  box-shadow: var(--second-shadow);
}

.preload-transitions * {
  -webkit-transition: var(--null-transition);
  -moz-transition: var(--null-transition);
  -ms-transition: var(--null-transition);
  -o-transition: var(--null-transition);
  transition: var(--null-transition);
}

/* header========================================================================================== */
.header__inner,
.burger,
.logo,
.logo__img {
  display: flex;
}

.header__inner,
.burger {
  justify-content: space-between;
}

.header__inner,
.logo__img {
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  width: var(--fullWidth);
  background-color: var(--thirdColor);
  z-index: 10;
}

.header.unfixed {
  position: static;
}

.header.blur,
.slider.blur,
.products.blur {
  filter: blur(5px);
}

.header__inner {
  position: relative;
  height: var(--header-height);
  background: var(--main-color);
  box-shadow: 0px 2px 8px rgba(175, 175, 175, 0.1);
  margin: var(--dropMargin);
  padding: 0 1rem;
  z-index: 1;
}

.burger {
  position: absolute;
  right: 6%;
  flex-direction: column;
  height: var(--fullHeight);
  max-height: 1rem;
  transition: var(--transition);
}

.burger.show {
  transform: rotate(-90deg);
}

.burger > span {
  width: 1.3rem;
  height: 0.2rem;
  background-color: var(--firstColor);
  position: relative;
}

.burger > span::before {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  content: "";
  left: -22%;
  background-color: var(--firstColor);
  border-radius: 50%;
}

.logo {
  justify-content: center;
  width: var(--fullWidth);
}

.logo__text {
  margin: 0.3rem 0 0 1.6rem;
  font-size: 1.4rem;
  color: var(--firstColor);
  font-weight: 600;
  position: relative;
}

.logo__text::before {
  position: absolute;
  content: url(../images/svg/Vector.svg);
  left: -2.1rem;
  top: -0.1rem;
}

/* burger========================================================================================== */
.burger-menu {
  position: fixed;
  top: var(--header-height);
  top: -10%;
  left: 0;
  width: var(--fullWidth);
  height: var(--fullHeight);
  overflow: hidden;
  background: var(--thirdColor);
  transition: var(--transition);
  z-index: -20;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.burger-menu.show {
  top: 0;
  opacity: 1;
  pointer-events: all;
}

.burger-menu__inner {
  padding-top: calc(var(--header-height) + 2rem);
  height: var(--fullHeight);
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.burger-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--dropMargin);
  font-size: var(--fontSize);
  border: 1px solid var(--firstColor);
  border-radius: 10rem;
  background-color: var(--firstColor);
  color: var(--thirdColor);
  width: 12.2rem;
  height: 2.2rem;
}

.burger-menu__link {
  width: 12.2rem;
}

.burger-menu__item:last-child {
  margin-bottom: 1rem;
}

.burger-menu__item.info {
  margin-top: 2.5rem;
}

.burger-menu__item > a {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
}

/* popup========================================================================================== */

.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: -20%;
  width: var(--fullWidth);
  background-color: var(--popupColor);
  z-index: 10;
  transition: var(--transition);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 83%;
  opacity: 0;
  pointer-events: none;
}

.popup.open {
  bottom: 0;
  opacity: 1;
  pointer-events: all;
}

.pop {
  overflow: auto;
  height: 80%;
  padding-bottom: 5rem;
}

.popup__close {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 3.5%;
  right: 6%;
  z-index: 1000;
}

.popup__close::before {
  content: url(../images/svg/close.svg);
  pointer-events: none;
  z-index: 15;
}

.popup__inner {
  margin: 0 0 1rem;
  padding: 2.2rem 0 0 0;
  height: var(--fullHeight);
}

.popup__buffer,
.modal__buffer {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--fullHeight);
  z-index: 10;
  transition: var(--transition);
}

.popup__buffer.open {
  opacity: 1;
  pointer-events: all;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.popup__product {
  position: relative;
  height: var(--fullHeight);
}

.popup__item-text {
  margin: 2rem 0 0;
  position: relative;
}

.popup__item-text::after {
  content: "";
  position: absolute;
  width: var(--fullWidth);
  height: 1px;
  bottom: -0.9rem;
  background-color: var(--lineColor);
}

.popup__item-title {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.popup__item-description {
  margin: 0.5rem 0 0;
  color: var(--fontColor);
  font-size: var(--mainSize);
}

.popup__title-price {
  display: flex;
  justify-content: space-between;
  margin: 1.9rem 0 0 0;
  padding: 1.25rem 0 0 0;
}

.popup__item-img {
  display: flex;
  justify-content: space-around;
  height: 0;
}

.popup__item-img > img {
  object-fit: cover;
  height: 6.9rem;
  width: 6.9rem;
  margin: -5rem 0 0;
  border-radius: 1rem;
  z-index: 1;
}

.popup__options {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0 0;
}

.popup__sauces,
.popup__ingredients {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0.5rem 1rem 0 0;
}

.popup__option {
  color: var(--fontColor);
  font-size: var(--mainSize);
}

.popup__sauce,
.popup__ingredient {
  display: flex;
  flex-direction: row;
  width: 6.9rem;
  height: 1.6rem;
}

.popup__add {
  margin: 2rem 0;
  position: relative;
}

.popup__add-ingredients {
  margin-bottom: 0.9rem;
}

.popup__add-ingredient::after {
  content: "";
  position: absolute;
  width: var(--fullWidth);
  height: 1px;
  bottom: -1.1rem;
  background-color: var(--lineColor);
}

.popup__add > h3 {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.popup__item-price {
  font-size: 1.5rem;
  font-family: var(--secondFont);
  display: inline-block;
  margin: 0 0 0 2rem;
}

/* slider========================================================================================== */
.slider {
  transition: var(--transition);
}

.slider__inner {
  display: flex;
  padding: 9.5rem 0 1rem 0;
  width: var(--fullWidth);
  overflow-x: scroll;
  position: relative;
}

.slider__inner.show {
  padding: 0;
}

.bottom__menu::after,
.body__after::after {
  content: "";
  position: absolute;
  top: 330px;
  width: 90%;
  height: 1px;
  background: var(--popupColor);
  display: block;
  transform: translateX(5%);
}

.body__after.unshow::after {
  content: none;
}

.bottom__menu::after {
  position: static;
  bottom: -1.1rem;
  margin: 0.6rem 0 0 0;
}

.slider__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-width: 15rem;
  width: 15rem;
  height: 10.1rem;
  margin: 0 0.5rem;
  border-radius: 20px;
  box-shadow: var(--main-shadow);
  overflow: hidden;
  text-align: center;
  background: var(--main-color);
  cursor: pointer;
}

.slider__item-bufer {
  min-width: 0.5rem;
}

.slider__item-img {
  position: absolute;
  width: var(--fullWidth);
  height: var(--fullHeight);
  object-fit: cover;
  object-position: bottom;
  z-index: 1;
  border-radius: 20px;
  /* filter: blur(2px); */
}

.slider__item-img:not([src=""]) + .slider__item-gradient {
  position: absolute;
  width: var(--fullWidth);
  height: var(--fullHeight);
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.52%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border-radius: 20px;
}

.slider__title {
  width: var(--fullWidth);
  background: rgba(255, 255, 255, 0.6);
  height: 28px;
  backdrop-filter: blur(15px);
  z-index: 1;
}

.slider__description {
  text-align: left;
  padding: 0 0 0 0.9rem;
  font-size: var(--mainSize);
  line-height: 1.75rem;
}

/* .slider__description-card {
  display: none;
} */

.slider__information {
  position: absolute;
  width: 2.75rem;
  height: 2rem;
  background-color: #f9b2af;
  bottom: 0;
  right: 0;
  border-radius: 0.5rem 0px;
}

.slider__information::before {
  content: url(../images/svg/info.svg);
  line-height: 2.7rem;
}

/* products======================================================================================== */
.products {
  transition: var(--transition);
  scroll-margin: 12rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.products__title-active {
  background: var(--firstColor);
}

.product__item {
  display: flex;
  height: 7.2rem;
  margin: 0 0 1.5rem 0;
  overflow: hidden;
  border-radius: 0.6rem;
  background-color: var(--secondColor);
}

.product__item:last-child {
  margin: 0;
}

.product__item-text {
  pointer-events: none;
  padding: 0.75rem 0.8rem 0.5rem 0.75rem;
}

.product__item-title {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.product__item-price {
  display: flex;
  flex-direction: row;
}

.product__item-price::before {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #c4c4c4;
  margin: 0.6rem;
}

.product__item-description {
  margin: 0.5rem 0 0;
  font-size: 0.8em;
  color: #8e8e8e;
}

.product__item-img {
  pointer-events: none;
  height: var(--fullHeight);
}

.product__item-img > img {
  width: 6.25rem;
  height: var(--fullHeight);
  object-fit: cover;
  object-position: bottom;
}

/* tap-bar========================================================================================= */

.bottom__menu {
  width: var(--fullWidth);
  background-color: var(--mainColor);
}

.bottom__menu-inner {
  overflow-x: scroll;
  display: flex;
  padding: 1rem 0;
}

.bottom__menu-inner::after {
  content: "";
  width: 1px;
  height: 1px;
  padding: 0 0.5rem 0 0;
}

.bottom__menu-item {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 10.8rem;
  margin: 0 0.8rem 0 0;
  font-size: var(--fontSize);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3.1rem;
  background: var(--mainColor);
  letter-spacing: 1px;
}

.bottom__menu-item.active {
  background-color: var(--firstColor);
  color: var(--thirdColor);
}

.bottom__menu-item:first-child {
  margin: 0 0.8rem 0 0.5rem;
}

.bottom__menu-link {
  pointer-events: none;
  padding: 0 1.2em;
  display: block;
  margin: var(--dropMargin);
}

/* info========================================================================================= */
.info__title {
  margin: 9rem 0 0;
  font-size: 1.5rem;
  font-family: var(--secondFont);
}

.info__text {
  margin: 1rem 0 0;
}

.info__text > h3 {
  font-size: var(--fontSize);
  margin: 0 0 0.5rem 0;
}

.info__text > p {
  font-size: var(--mainSize);
}

/* modal-window==================================================================== */

.modal__buffer.show {
  opacity: 1;
  pointer-events: all;
}

.modal__window {
  width: var(--fullWidth);
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  bottom: -20%;
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
  z-index: 1;
}

.modal__window.show {
  bottom: 0;
  opacity: 1;
  pointer-events: all;
}

.modal__window-img {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
}

.modal__window-img > img {
  object-fit: cover;
  object-position: bottom;
}

.modal__close {
  top: 14%;
  right: 10%;
}

.modal__close::before {
  content: url(../images/svg/close-white.svg);
}

.modal__title,
.modal__description {
  color: var(--thirdColor);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
  width: 90%;
  text-align: center;
}

.modal__title {
  top: 58%;
}

.modal__description {
  top: 68%;
}

/* medias========================================================================================= */
@media (max-width: 374px) {
  body {
    font-size: 16px;
  }

  .popup__product {
    padding: 0 1rem;
  }

  .bufer__top {
    height: 4.3rem;
    background-color: var(--thirdColor);
    z-index: 1;
  }

  .burger > span::before {
    display: none;
  }

  .product__item-price::before {
    display: none;
  }

  .bottom__menu-item {
    font-size: 0.75rem;
  }

  .bottom__menu::after {
    margin: 0;
  }

  .popup {
    height: 92%;
  }

  .popup__item-img {
    top: 10%;
  }

  .popup__item-img > img {
    width: 5rem;
    height: 5rem;
  }

  .popup__item-text::after {
    bottom: -5px;
  }

  .popup__add {
    margin: 1.5rem 0;
  }

  .popup__item-title,
  .popup__add > h3 {
    font-size: var(--mainSize);
  }

  .popup__item-description,
  .popup__option {
    font-size: var(--secondSize);
  }

  .popup__sauce,
  .popup__ingredient {
    margin-bottom: 0;
  }

  .info__text > h3 {
    font-size: var(--mainSize);
  }

  .info__text > p {
    font-size: 0.75rem;
  }
}

@media (min-width: 414px) {
  .modal__title {
    top: 54%;
  }

  .modal__description {
    top: 64%;
  }

  .popup__title-price {
    margin: 3.1rem 0 0 0;
  }

  .popup {
    height: 88%;
  }

  .popup__item-img {
    top: 16%;
  }

  .popup__item-title,
  .popup__add > h3 {
    font-size: var(--fontSize);
  }

  .popup__add {
    margin: 1.4rem 0;
  }

  .popup__add-ingredient::after {
    bottom: -0.6rem;
  }

  .burger-menu__item.info {
    margin-top: 2.5rem;
  }

  .info__title {
    margin: 7rem 0 0;
  }
}

@media (min-height: 667px) and (max-height: 735px) {
  .info__title {
    margin: 7rem 0 0;
  }

  .burger-menu__item.info {
    margin-top: 1.25rem;
  }

  .popup {
    height: 86%;
  }
}

@media (min-height: 800px) {
  .modal__title {
    top: 50%;
  }

  .modal__description {
    top: 60%;
  }

  .popup {
    height: 90%;
  }

  .popup__title-price {
    margin: 1.9rem 0;
  }

  .popup__item-img {
    top: 14%;
  }

  .popup__item-text {
    margin: 1rem 0 0;
  }
}

@media (min-width: 768px) {
  .popup {
    font-size: 1.6rem;
  }

  .popup__item-text {
    margin: 3rem 0 0;
  }

  .popup__add {
    margin: 3rem 0 0;
  }

  .popup__item-title,
  .popup__add > h3 {
    font-size: 1.9rem;
  }

  .popup__item-description,
  .popup__option {
    font-size: 1.25rem;
  }

  .wrapper {
    max-width: 31.3rem;
    margin: var(--dropMargin);
  }

  .burger-menu__item {
    width: 28.1rem;
    height: 5rem;
    font-size: 1.9rem;
    line-height: 5rem;
  }

  .info__title {
    font-size: 2rem;
    margin-bottom: 1.9rem;
  }

  .info__text > h3 {
    font-size: 1.9rem;
  }

  .info__text > p {
    font-size: 1.25rem;
  }

  .info__text > p:last-child {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 769px) {
  body {
    max-width: 30rem;
    margin: 2rem auto;
    border: 1rem solid black;
    border-left: 0.5rem solid black;
    border-right: 0.5rem solid black;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  }

  body.unshadow {
    box-shadow: none;
  }

  .header {
    position: sticky;
    width: var(--fullWidth);
  }

  .burger-menu__item {
    height: 3.1rem;
    font-size: 1.4rem;
  }

  .lang {
    width: 25rem;
  }

  .lang__item {
    cursor: pointer;
  }

  .bottom__menu::after {
    margin: 0;
  }

  .slider__inner {
    padding-top: 0;
  }

  .bottom__menu-inner {
    padding: 1rem 0 0 0;
  }

  ::-webkit-scrollbar,
  .bottom__menu-inner::-webkit-scrollbar {
    width: 0;
  }

  .slider__inner::-webkit-scrollbar {
    width: 1px;
    height: 5px;
  }

  .slider__inner::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: #d3d3d3;
  }

  .slider__inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    background-color: #f9f9fd;
  }

  .modal__window {
    max-width: 30rem;
    height: 96.4%;
    border-radius: 1rem;
  }

  .popup {
    width: var(--pop-up-width);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    bottom: -10%;
  }

  .popup__buffer,
  .modal__buffer {
    width: 100vw;
    top: 0;
    left: 0;
  }

  body.scroll-off {
    border-color: var(--mainColor);
    box-shadow: 0;
  }

  .popup__add {
    margin-top: 2rem;
  }

  .popup__item-title,
  .popup__add > h3 {
    font-size: var(--mainSize);
  }

  .popup__item-img {
    top: 13%;
  }

  .popup__item-text {
    margin: 1.2rem 0 0;
  }

  .popup__item-description,
  .popup__option {
    font-size: var(--secondSize);
  }

  .info__title {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .info__text > h3 {
    font-size: 1.6rem;
  }

  .info__text > p {
    font-size: var(--fontSize);
  }

  .info__text > p:last-child {
    margin-bottom: 1.25rem;
  }

  .section__information,
  .section__help {
    height: auto;
  }

  .burger-menu__item {
    width: 21.9rem;
    height: 3.75rem;
  }

  .burger,
  .product__item,
  .bottom__menu-item,
  .burger-menu__item {
    cursor: pointer;
  }
  .bottom__menu::after,
  .bottom__menu::after,
  .body__after::after {
    display: none;
  }
}
