@import "./src/fonts.css";

:root {
  --header-height: 4rem;

  --mainColor: #f9f9f9;
  --firstColor: #8ab889;
  --secondColor: #f7f6f2;
  --thirdColor: #ffffff;

  --mainFont: RobaLow-Regular;

  --btn-padding: 0.9rem 2.5rem 0.5rem 2.5rem;

  --transition: 0.25s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: var(--mainFont);
  font-size: 18px;
  background: var(--mainColor);
}
body.scroll-off {
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
h1 {
  font-size: 2em;
}
h3 {
  font-weight: 600;
}
button {
  background: none;
  border: none;
  outline: none;
}

.wrapper {
  max-width: 460px;
  margin: 0 auto;
  padding: 0 1rem;
}
.bufer__top {
  position: fixed;
  background: var(--mainColor);
}
.bufer__top,
.bufer__bottom {
  height: calc(var(--header-height) + 0.5rem);
}
.lang {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-size: 3rem;
  font-family: RobaLow-extraLight;
  font-weight: 300;
  text-transform: uppercase;
}
.lang__item {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 45%;
  padding: var(--btn-padding);
  border-radius: 3rem;
  box-shadow: var(--second-shadow);
}

.blur {
  filter: blur(5px);
}

/* header========================================================================================== */
.header__inner,
.burger,
.logo,
.logo__img {
  display: flex;
}
.header__inner,
.burger {
  justify-content: space-between;
}
.header__inner,
.logo__img {
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--thirdColor);
  z-index: 10;
  margin: 5rem 0 0 0;
}
.header__inner {
  position: relative;
  height: var(--header-height);
  background: var(--main-color);
  box-shadow: 0px 2px 8px rgba(175, 175, 175, 0.1);

  margin: 0 auto;
  padding: 0 1rem;
}

.burger {
  position: absolute;
  right: 6%;
  flex-direction: column;
  height: 100%;
  max-height: 1rem;
  transition: var(--transition);
}
.burger.show {
  transform: rotate(-90deg);
}
.burger > span {
  width: 22px;
  height: 3px;
  background-color: var(--firstColor);
  position: relative;
}

.burger > span::before {
  content: ".";
  position: absolute;
  font-size: 30px;
  top: -21.5px;
  left: -8px;
  color: var(--firstColor);
}

.logo {
  justify-content: center;
  width: 100%;
}
.logo__text {
  margin: 6px 0 0 29px;
  font-size: 1.4rem;
  color: var(--firstColor);
  font-weight: 600;
  position: relative;
}

.logo__text::before {
  position: absolute;
  content: url(../images/svg/Vector.svg);
  left: -35px;
  top: -2px;
}

/* burger========================================================================================== */
.burger-menu {
  position: fixed;
  top: var(--header-height);
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--thirdColor);
  transition: var(--transition);
  z-index: -20;
}
.burger-menu.show {
  top: 20px;
}
.burger-menu__inner {
  margin: 10rem 0 0;
}
.burger-menu__item {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid var(--firstColor);
  border-radius: 10rem;
  background-color: var(--firstColor);
  color: var(--thirdColor);
  width: 220px;
  height: 40px;
  margin-bottom: 40px;
}

.burger-menu__item:last-child {
  margin-bottom: 92px;
}
.burger-menu__item.info {
  margin: 2rem 0;
}
.burger-menu__item > a {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
}

/* popup========================================================================================== */
.popup {
  position: fixed;
  bottom: -150%;
  width: 100%;
  background-color: #ededed;
  opacity: 0.92;
  z-index: 10;
  transition: var(--transition);
  box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 1rem;
}
.popup.open {
  bottom: 0;
}
.popup__inner {
  /* margin: 0 0 1rem; */
}
.popup__buffer {
  /* display: none; */
  /* position: fixed; */
  /* top: var(--header-height);
  width: 100vw;
  height: 100%;
  z-index: 10; */
  /* opacity: 0; */
}
.popup__buffer.open {
  /* display: unset; */
}

.popup__product {
  /* position: relative; */
}
.popup__item-text {
  /* margin: 1rem 0 0; */
}
.popup__item-title {
  display: flex;
  justify-content: space-between;
}
.popup__item-price {
  /* font-family: RobaLow-extraLight;
  font-weight: 300; */
}
.popup__item-description {
  /* margin: 0.5rem 0 0;
  color: var(--second-font); */
}
.popup__item-img {
  display: flex;
  justify-content: space-around;
}
.popup__item-img > img {
  object-fit: cover;
  height: 8rem;
  width: 8rem;
  margin: -5rem 0 0;
  border-radius: 1rem;
}
.popup__options {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0 0;
}
.popup__option {
  color: var(--second-font);
}
.popup__add {
  margin: 1rem 0;
}
.popup__add > h3 {
  display: flex;
  align-items: center;
  font-size: 1.1em;
}
.popup__line {
  height: 1px;
  width: 100%;
  background: #000000;
  margin: 0 0 0 0.5rem;
}
.popup__btns {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0 2.5rem 0;
}
.popup__btn {
  width: 40%;
  height: 3rem;
  padding: 0.3rem 0 0;
  border-radius: 2rem;
  box-shadow: var(--main-shadow);
  text-transform: uppercase;
  font-family: RobaLow-Regular;
  font-weight: 600;
  font-size: 1.5em;
}

/* slider========================================================================================== */
.slider {
  transition: var(--transition);
}
.slider__inner {
  display: flex;
  padding: 15.5rem 0 3rem 0;
  width: 100%;
  overflow-x: scroll;
  position: relative;
}

.bottom__menu::after,
.slider__inner::after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 90%;
  height: 1px;
  background: #ededed;
  display: block;
  transform: translateX(5%);
}

.bottom__menu::after {
  position: static;
  bottom: -18px;
  margin-top: 20px;
}

.slider__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-width: 240px;
  width: 240px;
  height: 162px;
  margin: 0 0.5rem;
  border-radius: 20px;
  box-shadow: var(--main-shadow);
  overflow: hidden;
  text-align: center;
  background: var(--main-color);
}
.slider__item-bufer {
  min-width: 0.5rem;
}
.slider__item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  z-index: 1;
  border-radius: 20px;
  filter: blur(2px);
}
.slider__item-img:not([src=""]) + .slider__item-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.52%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border-radius: 20px;
}
.slider__title {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  height: 28px;
  backdrop-filter: blur(15px);
  z-index: 1;
}

.slider__description {
  text-align: left;
  padding-left: 14px;
  font-size: 15px;
  line-height: 28px;
}

.slider__information {
  position: absolute;
  width: 44px;
  height: 32px;
  background-color: #ffb240;
  bottom: 0;
  right: 0;
  border-radius: 8px 0px;
}

.slider__information::before {
  content: url(../images/svg/info.svg);
  line-height: 43px;
}

/* products======================================================================================== */
.products {
  transition: var(--transition);
  scroll-margin: 12rem 0 0 0;
}
.products__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}

.products__title-active {
  background: var(--firstColor);
}

.product__item {
  display: flex;
  height: 115px;
  margin: 0 0 1.5rem 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--secondColor);
}
.product__item-text {
  pointer-events: none;
  padding: 0.75rem 0.8rem 0.5rem 0.75rem;
}
.product__item-title {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}
.product__item-price {
  margin: 0 0 0 0.5rem;
  position: relative;
}
.product__item-price::before {
  position: absolute;
  top: 10px;
  left: -50px;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #c4c4c4;
  /* left: 254px;
  top: 25px; */
}
.product__item-description {
  margin: 0.5rem 0 0;
  font-size: 0.8em;
  color: #8e8e8e;
}
.product__item-img {
  pointer-events: none;
  height: 100%;
}
.product__item-img > img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

/* tap-bar========================================================================================= */

.bottom__menu {
  position: fixed;
  padding-top: 10rem;
  width: 100%;
  z-index: 5;
  background: var(--mainColor);
}
.bottom__menu-inner {
  overflow-y: scroll;
  display: flex;
  padding: 0.5rem 0;
}
.bottom__menu-inner::after {
  content: "";
  width: 1px;
  height: 1px;
  padding: 0 0.5rem 0 0;
}
.bottom__menu-item {
  display: flex;
  align-items: center;
  height: 32px;
  width: 10.8rem;
  margin: 0 0.8rem 0 0;
  font-size: 17px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 50px;
  background: var(--mainColor);
}
.bottom__menu-item:first-child {
  margin: 0 0.8rem 0 0.5rem;
}
.bottom__menu-link {
  pointer-events: none;
  padding: 0 1.2em;
  display: block;
}

/* .tap-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(var(--header-height) + 1rem);
  background: var(--bck-color);
  box-shadow: var(--second-shadow);
}
.tap-bar__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.tap-bar__item--img {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: all 0.25s linear;
}
.tap-bar__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.tap-bar__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tap-bar__item.tap > .tap-bar__item--img {
  transform: translateY(-16px);
}
.tap-bar__item--title {
  position: absolute;
  top: 2.25rem;
  font-size: 0.6em;
  opacity: 0;
  transition: 0.25s linear;
  z-index: -1;
  color: var(--second-font);
  text-transform: uppercase;
}
.tap-bar__item.tap > .tap-bar__item--title {
  opacity: 1;
}

.wave-wrap {
  position: absolute;
  top: -14px;
  width: 75px;
  transition: 0.25s linear;
}
.path {
  fill: var(--bck-color);
  box-shadow: var(--second-shadow);
} */

/* info========================================================================================= */
.info__title {
  margin: 1.5rem 0 0;
}
.info__text {
  margin: 1rem 0 0;
}

/* medias========================================================================================= */
@media (max-width: 350px) {
  html {
    font-size: 10px;
  }
  body {
    font-size: 16px;
  }
  .burger > span {
    height: 2px;
  }
}
